<!DOCTYPE html>

{% extends "index.html" %}
{% load static %}

    {% block bodyBlock %}
        <div class="Users" style="margin:50px">
            <h3>List of Users:-</h3>
            {% if users %}
            <ol>
                {% for user in users %}
                <li>User list : </li>
                <ul>
                    <li>First Name: {{ user.fname }}</li>
                    <li>Last Name: {{ user.lname }}</li>
                    <li>Email ID: {{ user.email }}</li>
                </ul>
                {% endfor %}
            </ol>

            {% else %}
            <p>No Users found!</p>
            {% endif %}
        </div>
    </div>
    {% endblock %}