<!DOCTYPE html>

{% extends "index.html" %}
{% load static %}

    {% block bodyBlock %}
        <div style="margin:50px">
            <h3>Sign In below... </h3>
            <form method="POST" action="{% url 'AuthApp:signIn' %}" >
                    {% csrf_token %}
                    <label for="username">Username:</label>
                    <input type="text" name="username" placeholder="Enter Username">

                    <label for="password">Password:</label>
                    <input type="password" name="password" placeholder="Enter Password">

                    <input type="submit" class="btn btn-primary" value="Submit"/>
            </form>
        </div>
    {% endblock %}
