<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Camping Out</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <div>
                <h1>This is a great camping site.</h1>
                <img src="{% static 'images/myImg.jpg' %}" alt="">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="jumbotron">
            <div class="accRecords">
                <h1>Access records:-</h1>
                {% if accessRecords %}
                <table>
                    <thead>
                        <th>Site Name</th>
                        <th>Data Accessed</th>
                    </thead>

                    {% for acc in accessRecords %}
                    <tr>
                        <td>{{ acc.name }}</td>
                        <td>{{ acc.date }}</td>
                    </tr>
                    {% endfor %}
                </table>

                {% else %}
                <p>No Access Records found!</p>
                {% endif %}
            </div>
        </div>
    </div>

</body>
</html>