<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Django form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>
    <div class="container">
        <h2>Fill out the form</h2>
        <div class="jumbotron">
            <form method="POST">
                {{form.as_p}}
                {% csrf_token %}
                <input type="submit" class="btn btn-primary" value="Submit"/>
            </form>
        </div>
    </div>
</body>
</html>