<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Project</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        <div class="jumbotron">
            <nav class="navbar navbar-expand-md navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTop" aria-controls="navbar" aria-expanded="false" aria-label="Navigation menu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTop">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"><a class="nav-link" href="{% url 'MainApp:welcome' %}" >MainApp</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'MainApp:accessRecords' %}" >Access Records</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'MainApp:users' %}" >Users</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'form' %}" >My form</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'admin:index' %}" >Admin</a></li>

                        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                {% if user.is_authenticated %}
                                    <a class="dropdown-item" href="{% url 'AuthApp:signOut' %}" >Sign Out</a>
                                {% else %}
                                    <a class="dropdown-item" href="{% url 'AuthApp:signIn' %}" >Sign In</a>
                                    <a class="dropdown-item" href="{% url 'AuthApp:signUp' %}" >Sign Up</a>
                                {% endif %}
                                <a class="dropdown-item" href="{% url 'MainApp:addUser' %}" >Add a User</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

            
            {% block bodyBlock %}
                <!-- Our Body will be injected here -->
            {% endblock %}

        </div>
    </div>

</body>
</html>